<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.mapper.MemberMapper">
	<select id="selectAllMember" resultType="com.java.dto.Member">
		<if test="keyword == null or keyword.equals('')">
			SELECT m.UNO, m.ID, m.PW, m.NAME, m.NICKNAME, m.GENDER, m.ADDRESS, m.EMAIL, m.PHONE, 
			m.BIRTHDAY, m.SOCIALNUM, m.SOCIALKEY, m.JOB, m.LEAVEREASON, m.LEAVEDATE, m.CK, m.DATEALARM,
			COALESCE(SUM(c.CAUTIONSCORE), 0) AS CAUCOUNT FROM bMEMBER m LEFT JOIN CAUTION c ON m.UNO = c.UNO
			GROUP BY m.UNO, m.ID, m.PW, m.NAME, m.NICKNAME, m.GENDER, m.ADDRESS, m.EMAIL, m.PHONE, m.BIRTHDAY, m.SOCIALNUM, m.SOCIALKEY, m.JOB, m.LEAVEREASON, m.LEAVEDATE, m.CK, m.DATEALARM 
			ORDER BY m.UNO
		</if>
		<if test="keyword != null and !keyword.equals('')">
			<if test="userCategory == 'name' or userCategory.equals('name')">
				SELECT m.UNO, m.ID, m.PW, m.NAME, m.NICKNAME, m.GENDER, m.ADDRESS, m.EMAIL, m.PHONE, m.BIRTHDAY, m.SOCIALNUM, m.SOCIALKEY, m.JOB, m.LEAVEREASON, m.LEAVEDATE, m.CK, m.DATEALARM,
				COALESCE(SUM(c.CAUTIONSCORE), 0) AS CAUCOUNT 
				FROM bMEMBER m 
				LEFT JOIN CAUTION c ON m.UNO = c.UNO
				WHERE m.NAME LIKE '%'|| #{keyword} ||'%'
				GROUP BY m.UNO, m.ID, m.PW, m.NAME, m.NICKNAME, m.GENDER, m.ADDRESS, m.EMAIL, m.PHONE, m.BIRTHDAY, m.SOCIALNUM, m.SOCIALKEY, m.JOB, m.LEAVEREASON, m.LEAVEDATE, m.CK, m.DATEALARM 
				ORDER BY m.UNO
			</if>
			<if test="userCategory == 'nickName' or userCategory.equals('nickName')">
				SELECT m.UNO, m.ID, m.PW, m.NAME, m.NICKNAME, m.GENDER, m.ADDRESS, m.EMAIL, m.PHONE, m.BIRTHDAY, m.SOCIALNUM, m.SOCIALKEY, m.JOB, m.LEAVEREASON, m.LEAVEDATE, m.CK, m.DATEALARM,
				COALESCE(SUM(c.CAUTIONSCORE), 0) AS CAUCOUNT 
				FROM bMEMBER m 
				LEFT JOIN CAUTION c ON m.UNO = c.UNO
				WHERE m.NICKNAME LIKE '%'|| #{keyword} ||'%'
				GROUP BY m.UNO, m.ID, m.PW, m.NAME, m.NICKNAME, m.GENDER, m.ADDRESS, m.EMAIL, m.PHONE, m.BIRTHDAY, m.SOCIALNUM, m.SOCIALKEY, m.JOB, m.LEAVEREASON, m.LEAVEDATE, m.CK, m.DATEALARM 
				ORDER BY m.UNO
			</if>
			<if test="userCategory == 'ID' or userCategory.equals('ID')">
				SELECT m.UNO, m.ID, m.PW, m.NAME, m.NICKNAME, m.GENDER, m.ADDRESS, m.EMAIL, m.PHONE, m.BIRTHDAY, m.SOCIALNUM, m.SOCIALKEY, m.JOB, m.LEAVEREASON, m.LEAVEDATE, m.CK, m.DATEALARM,
				COALESCE(SUM(c.CAUTIONSCORE), 0) AS CAUCOUNT 
				FROM bMEMBER m 
				LEFT JOIN CAUTION c ON m.UNO = c.UNO
				WHERE m.ID LIKE '%'|| #{keyword} ||'%'
				GROUP BY m.UNO, m.ID, m.PW, m.NAME, m.NICKNAME, m.GENDER, m.ADDRESS, m.EMAIL, m.PHONE, m.BIRTHDAY, m.SOCIALNUM, m.SOCIALKEY, m.JOB, m.LEAVEREASON, m.LEAVEDATE, m.CK, m.DATEALARM 
				ORDER BY m.UNO
			</if>
		</if>
	</select>
	
	<select id="selectOneMember" resultType="com.java.dto.Member">
		SELECT m.UNO, m.ID, m.PW, m.NAME, m.NICKNAME, m.GENDER, m.ADDRESS, m.EMAIL, m.PHONE, m.BIRTHDAY, m.SOCIALNUM, m.SOCIALKEY, m.JOB, m.LEAVEREASON, m.LEAVEDATE, m.CK, m.DATEALARM,
				COALESCE(SUM(c.CAUTIONSCORE), 0) AS CAUCOUNT 
				FROM bMEMBER m 
				LEFT JOIN CAUTION c ON m.UNO = c.UNO
				WHERE m.uno = #{uno}
				GROUP BY m.UNO, m.ID, m.PW, m.NAME, m.NICKNAME, m.GENDER, m.ADDRESS, m.EMAIL, m.PHONE, m.BIRTHDAY, m.SOCIALNUM, m.SOCIALKEY, m.JOB, m.LEAVEREASON, m.LEAVEDATE, m.CK, m.DATEALARM 
				ORDER BY m.UNO
	</select>
	
	<insert id="setCaution">
		insert into caution values(caution_seq.nextval, #{cautionScore},  #{cautionReason}, sysdate, #{uno})
	</insert>
	
	<select id="selectComplainAll" resultType="com.java.dto.Complain">
		SELECT a.*, b.nickname, CASE WHEN a.division = 1 THEN cb.bno WHEN a.division = 0 THEN a.no ELSE NULL
    	END AS bno FROM complain a JOIN bmember b ON a.cid = b.id LEFT JOIN commentboard cb ON a.no = cb.cno AND a.division = 1
	</select>
	
	<delete id="deleteReportOne">
		delete from complain where cno = #{cno}
	</delete>
	<select id="selectKey" resultType="com.java.dto.Member">
		select*from bmember where socialKey = #{id}
	</select>
	<select id="selectuseremail">
		select email from bmember where uno = #{uno}
	</select>
	<select id="selectleaveDate">
		select leavedate from bmember where uno = #{uno}
	</select>
	<select id="selectcList" resultType="com.java.dto.Caution">
		select*from caution where uno = #{uno}
	</select>
</mapper>