@charset "UTF-8";

* { margin: 0px; padding: 0px;}
ul, ol{ list-style-type: none; }


/* section */
section{
	width: 100%; 
	height:700px;
}

/* 서브 이미지 */


/* 상단 현재 진행 */


/* 회원가입 title */
#body{margin-top:100px;}
#sub_top_area {
	width: 1000px; height: 127px;
	box-sizing: border-box;
	padding: 40px 0px 20px;
	margin: 0 auto;
	
}
#sub_top_area>h3 {
	font-size: 40px;
	font-weight: 700;
	color: #333;
	text-align: center;
	margin-bottom: 15px;
}

/* 회원가입 진행 단계 */
#join_step_div {
	width: 1000px; height: 120px;
	margin: 0 auto;
}
#join_step_div>ul {
	width: 1000px; height: 100px;
}
#join_step_div>ul>li {
	float: left;
	width: 33%;
	text-align: center;
	box-sizing: border-box;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0px 1px;
}
#join_step_div>ul>li>span {
	font-size: 12px;
	font-weight: 700;
	display: block;
	padding: 10px 0px 7px 0px;
}
#join_step_div>ul>li>p {
	font-size: 20px;
	font-weight: 700;	
}
#join_step_div>ul>li:nth-child(2) {
	background-color: rgb(0, 128, 255);
	color: #fff;
}

/* 입력 부분 시작 */
h4 {
	width: 1000px; height: 36px;
	color: #333;
	font-size: 20px;
	font-weight: 600;
	box-sizing: border-box;
	padding: 0px 0px 10px 10px;
	margin: 0 auto;
}
h4>span {
	font-size: 13px;
	color:#555;	
}

/* 필수 입력 테이블 */
.fieldset_class {
	width: 1000px;
	font-size: 14px;
	border-top: 1px solid rgb(209, 209, 209);
	border-left: none;
	border-right: none;
	border-bottom: none;
	margin-left : 500px;
	margin-bottom: 15px;
	
}

.fieldset_class dl dt{
	float: left;
	width:200px;
	box-sizing:border-box;
	border-bottom: 1px solid rgb(230, 230, 230);
	background-color: rgb(246, 246, 246);
}
.fieldset_class dl dt div {
	display:inline-block;
	width: 10px; height: 10px;
	position:relative; left: 20px;
	vertical-align: middle;
}
.fieldset_class dl dt label{
	font-size: 13px;
	font-weight: 700;
	position:absolute;
	padding-left: 25px;
}
.fieldset_class dl dd {
	width:800px;
	float: left;
	box-sizing: border-box;
	background: #fff;
	padding: 10px 20px;
	border-bottom: 1px solid rgb(230, 230, 230);
}
input[type="text"] {
	height: 26px;
}
input[type="password"] {
	height: 26px;
}
dd span {
	font-size: 13px;
	font-weight: 700;
	color: #555;
	margin-left: 3px;
}

#join_name_dl dt {
	height: 51px;
}
#join_name_dl dd{
	height: 51px;
}
#join_name_dl dt div {
	top: 14px;
}
#join_name_dl dt label {
	padding-top: 16px;
}
#join_name_dl input {
	width: 276px;
}

#join_id_dl dt{
	height: 93px;
}
#join_id_dl dd{
	height: 93px;
}
#join_id_dl dt div {
	top: 33px;
}
#join_id_dl dt label {
	padding-top: 35px;
}
#join_id_dl input[type="text"] {
	width: 276px;
}
#join_id_dl input[type="button"] {
	width: 80px; height: 30px;
	background-color: #6f6f6f;
	padding: 0px 10px;
	border: none;
	line-height: 5px;
	color: #fff;
	font-weight: 700;
	font-size:12px;
}
#join_id_dl span {
	display: block;
	margin-top: 5px;
}
#join_nickname_dl dt{
	height: 70px;
}
#join_nickname_dl dd{
	height: 70px;
}
#join_nickname_dl dt div {
	top: 33px;
}
#join_nickname_dl dt label {
	padding-top: 25px;
}
#join_nickname_dl input[type="text"] {
	width: 276px;
}
#join_nickname_dl input[type="button"] {
	width: 76px; height: 26px;
	background-color: #0a47ff;
	padding: 0px 10px;
	border: none;
	line-height: 5px;
	color: #fff;
	font-weight: 700;
	font-size:11px;
}
#join_nickname_dl span {
	display: block;
	margin-top: 5px;
}

#join_pw1_dl dt{
	height: 70px;
}
#join_pw1_dl dd{
	height: 70px;
}
#join_pw1_dl dt div {
	top: 33px;
}
#join_pw1_dl dt label {
	padding-top: 25px;
}
#pw1 {
	width: 276px;
}
#join_pw1_dl span {
	display: block;
	margin-top: 5px;
}
.buttons {
	width: 96px; height: 26px;
	background-color: #0a47ff;
	padding: 0px 10px;
	border: none;
	line-height: 5px;
	color: #fff;
	font-weight: 700;
	font-size:11px;
}

#join_pw2_dl dt {
	height: 51px;
}
#join_pw2_dl dd{
	height: 51px;
}
#join_pw2_dl dt div {
	top: 14px;
}
#join_pw2_dl dt label {
	padding-top: 16px;
}
#join_pw2_dl input {
	width: 276px;
}
#pw3_dl dt,dd {
	height: 51px;
}
#pw3_dl dt div {
	top: 14px;
}
#pw3_dl dt {
	 padding-top: 16px;
}
#pw3_dl input {
	width: 200px;
}
#pw3_dl input[type="button"] {
	width: 80px; height: 30px;
	background-color: #6f6f6f;
	padding: 0px 10px;
	border: none;
	line-height: 5px;
	color: #fff;
	font-weight: 700;
	font-size:12px;
}

#join_mail_dl dt {
	height: 75px;
}
#join_mail_dl dd{
	height: 75px;
}
#join_mail_dl dt div {
	top: 14px;
}
#join_mail_dl dt label {
	padding-top: 25px;
}
#emailCk{
	margin-top:5px;
}
#join_mail_dl dd input:nth-child(1) {
	width: 130px;
}
#join_mail_dl dd span {
	font-size: 15px;
}
#join_mail_dl dd input:nth-child(3) {
	width: 160px;
}
#join_mail_dl dd select {
	width: 150px; height:25px;
	font-size: 13px;
	color: #666;
}

#join_tell_dl dt {
	height: 51px;
}
#join_tell_dl dd {
	height: 51px;
}
#join_tell_dl dt div {
	top: 14px;
}
#join_tell_dl dt label {
	padding-top: 16px;
}
#join_tell_dl dd input {
	width: 75px;
	text-align: center;
}

#join_birth_dl dt {
	height: 80px;
}
#join_birth_dl dd {
	height: 80px;
}
#join_birth_dl dt div {
	top: 28px;
}
#join_birth_dl dt label {
	padding-top: 30px;
}
#join_birth_dl dd select {
	width: 80px; height: 30px;
}
#join_birth_dl dd span {
	margin-left: 0px;
	margin-right: 10px;
}
#join_birth_dl dd div {
	width: 150px; height: 20px;
	margin-top: 10px;
}
#join_birth_dl dd div label {
	font-size: 13px;
	font-weight: 600;
	color: #555;
}
	
input[type="radio"]:not(old) {
	width:24px;
	opacity: 100;
}
input[type="radio"]:not(old) + label {
	/*display:inline-block;*/
	width: 24px; height: 24px;
	margin-left: -24px;
	padding-left: 24px;
}
input[type="radio"]:not(old):checked + label {
	/*display:inline-block;*/
	width: 24px; height: 24px;
	margin-left: -24px;
	padding-left: 24px;
}
input[type="checkbox"]:not(old) {
	width:24px;
	opacity: 100;
}
input[type="checkbox"]:not(old) + label {
	/*display:inline-block;*/
	width: 24px; height: 24px;
	margin-left: -24px;
	padding-left: 24px;
}
input[type="checkbox"]:not(old):checked + label {
	/*display:inline-block;*/
	width: 24px; height: 24px;
	margin-left: -24px;
	padding-left: 24px;
}

#join_gender_dl dt {
	height: 40px;
}
#join_gender_dl dd {
	height: 40px;
}
#join_gender_dl dt div {
	top: 10px;
}
#join_gender_dl dt label {
	padding-top: 12px;
}
#join_gender_dl dd div {
	width: 150px; height: 20px;
}
#join_gender_dl dd div label {
	font-size: 13px;
	font-weight: 600;
	color: #555;
}

#join_newsletter_dl dt{
	height: 40px;
}
#join_newsletter_dl dd {
	height: 40px;
}
#join_newsletter_dl dt div {
	top: 10px;
}
#join_newsletter_dl dt label {
	padding-top: 12px;
}
#join_newsletter_dl dd div {
	display: inline;
	width: 150px; height: 20px;
}

#join_sms_dl dt{
	height: 40px;
}
#join_sms_dl dd {
	height: 40px;
}
#join_sms_dl dt div {
	top: 10px;
}
#join_sms_dl dt label {
	padding-top: 12px;
}
#join_sms_dl dd div {
	display: inline;
	width: 150px; height: 20px;
}

#join_address_dl dt{
	height: 132px;
}
#join_address_dl dd {
	height: 132px;
}
#join_address_dl dt div {
	top: 48px;
}
#join_address_dl dt label {
	padding-top: 50px;
}
#join_address_dl dd>input:nth-child(1) {
	width: 80px; height: 30px;	
}

#join_address_dl dd>input:nth-child(3) {
	width: 755px; height: 30px;
	margin-top: 5px;	
}
#join_address_dl dd>input:nth-child(4) {
	width: 755px; height: 30px;
	margin-top: 5px;	
}
#join_address_dl input[type="button"] {
	width: 76px; height: 26px;
	background-color: #0a47ff;
	padding: 0px 10px;
	border: none;
	line-height: 5px;
	color: #fff;
	font-weight: 700;
	font-size:11px;
}

/*분양 회원 정보 입력*/
#join_member_number_dl dt{
	height: 51px;
}
#join_member_number_dl dd{
	height: 51px;
}
#join_member_number_dl dt label {
	padding-top: 16px;
}
#join_member_number_dl input {
	width: 276px;
}

#join_verification_number_dl dt{
	height: 51px;
}
#join_verification_number_dl dd{
	height: 51px;
}
#join_verification_number_dl dt label {
	padding-top: 16px;
}
#join_verification_number_dl input {
	width: 276px;
}

#join_job_dl dt{
	height: 51px;
}
#join_job_dl dd{
	height: 51px;
}
#join_job_dl dt label {
	padding-top: 16px;
}
#join_job_dl dd select {
	width: 274px; height: 30px;
}

#join_marital_status_dl dt{
	height: 40px;
}
#join_marital_status_dl dd {
	height: 40px;
}
#join_marital_status_dl dt div {
	top: 10px;
}
#join_marital_status_dl dt label {
	padding-top: 12px;
}

#join_interests_dl dt{
	height: 81px;
}
#join_interests_dl dd {
	height: 81px;
}
#join_interests_dl dt label {
	padding-top: 30px;
}
#join_interests_dl dd li {
	float: left;
	width: 126px;
	margin: 5px 0px;
}

/* 다시입력, 가입시작 버튼 */
#info_input_button {
	width: 1000px; height: 58px;
	margin: 0 auto;
	text-align:center;
}
#info_input_button input {
	width: 125px; height: 60px;
	color: rgb(85, 85, 85);
	font-weight: 700;
	font-size: 14px;
	background: #fff;
	border: none;
	margin-top:70px;
	
	
}
#info_input_button input:nth-child(2) {
	color: rgb(255, 255, 255);
	background: rgb(0, 128, 255);
}
#timer {
    color: black;
}




/*footer*/








