@charset "UTF-8";

* { margin: 0px; padding: 0px;}
ul, ol{ list-style-type: none; }


/* header */

/* 상단 메뉴 */

/* 메뉴 우측 아이콘(장바구니, 메뉴찾기) */

/* section */
section{
	width: 100%; height: 700px;
}

/* 서브 이미지 */

/* 상단 현재 진행 */


/* 회원가입 title */
#body{margin-top:100px;}
#sub_top_area {
	width: 1000px; height: 127px;
	box-sizing: border-box;
	padding: 40px 0px 20px;
	margin: 0 auto;
}
#sub_top_area>h3 {
	font-size: 40px;
	font-weight: 700;
	color: #333;
	text-align: center;
	margin-bottom: 15px;
}

/* 회원가입 진행 단계 */
#join_step_div {
	width: 1000px; height: 120px;
	margin: 0 auto;
}
#join_step_div>ul {
	width: 1000px; height: 100px;
}
#join_step_div>ul>li {
	float: left;
	width: 33%;
	text-align: center;
	box-sizing: border-box;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0px 1px;
}
#join_step_div>ul>li>span {
	font-size: 12px;
	font-weight: 700;
	display: block;
	padding: 10px 0px 7px 0px;
}
#join_step_div>ul>li>p {
	font-size: 20px;
	font-weight: 700;	
}
#join_step_div>ul>li:nth-child(3) {
	background-color:#0A47FF;
	color: #fff;
}

#join_success_div {
	width: 1000px; height: 250px;
	text-align: center;
	box-sizing: border-box;
	padding: 66px 0px;
	margin: 0 auto;
	border: 1px solid rgb(231, 231, 231);
}
#join_success_div p{
	width: 998px; height: 90px;
	color: rgb(102, 102, 102);
	font-size: 32px;
	margin-bottom: 25px;
	line-height: 150%;
}
#join_success_div strong {
	display: block;
	width: 998px; height: 42px;
	font-weight: 800%;
	color: rgb(51, 51, 51);
}
.end{
	background-color:#0A47FF;
	color: #fff;
	width : 200px; height:50px;
	font-size:20px;
	border : none;
}




/*footer*/

