@charset "UTF-8";

* { margin: 0px; padding: 0px;}
ul, ol{ list-style-type: none; }


/* 상단 메뉴 */




/* section */
section{
	width: 100%; height: 700px;
}

/* 서브 이미지 */


/* 상단 현재 진행 */


/* 회원가입 title */
#body{margin-top:100px;}
#sub_top_area {
	width: 1000px; height: 127px;
	box-sizing: border-box;
	padding: 40px 0px 20px;
	margin: 0 auto;
}
#sub_top_area>h3 {
	font-size: 40px;
	font-weight: 700;
	color: #333;
	text-align: center;
	margin-bottom: 15px;
}

/* 회원가입 진행 단계 */
#join_step_div {
	width: 1000px; height: 120px;
	margin: 0 auto;
}
#join_step_div>ul {
	width: 1000px; height: 100px;
}
#join_step_div>ul>li {
	float: left;
	width: 248px;
	text-align: center;
	box-sizing: border-box;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0px 1px;
}
#join_step_div>ul>li>span {
	font-size: 12px;
	font-weight: 700;
	display: block;
	padding: 10px 0px 7px 0px;
}
#join_step_div>ul>li>p {
	font-size: 20px;
	font-weight: 700;	
}
#join_step_div>ul>li:nth-child(3) {
	background-color: rgb(0, 128, 255);
	color: #fff;
}

/* 입력 부분 시작 */
h4 {
	width: 1000px; height: 36px;
	color: #333;
	font-size: 20px;
	font-weight: 600;
	box-sizing: border-box;
	padding: 0px 0px 10px 10px;
	margin: 0 auto;
}
h4>span {
	font-size: 13px;
	color:#555;	
}

/* 필수 입력 테이블 */
.fieldset_class {
	width: 1000px;
	font-size: 14px;
	margin: 0 auto;
	border-top: 1px solid rgb(209, 209, 209);
	border-left: none;
	border-right: none;
	border-bottom: none;
	
	margin-bottom: 15px;
	
}

.fieldset_class dl dt{
	float: left;
	width:200px;
	box-sizing:border-box;
	border-bottom: 1px solid rgb(230, 230, 230);
	background-color: rgb(246, 246, 246);
}
.fieldset_class dl dt div {
	display:inline-block;
	width: 10px; height: 10px;
	position:relative; left: 20px;
	vertical-align: middle;
}
.fieldset_class dl dt label{
	font-size: 13px;
	font-weight: 700;
	position:absolute;
	padding-left: 25px;
}
.fieldset_class dl dd {
	width:800px;
	float: left;
	box-sizing: border-box;
	background: #fff;
	padding: 10px 20px;
	border-bottom: 1px solid rgb(230, 230, 230);
}
input[type="text"] {
	height: 26px;
}
input[type="password"] {
	height: 26px;
}
dd span {
	font-size: 13px;
	font-weight: 700;
	color: #555;
	margin-left: 3px;
}


.join_id_dl dt{
	height: 75px;
	padding-top:30px;
}
.join_id_dl dd{
	height: 75px;
}
.join_id_dl dt div {
	top: 33px;
}
#join_id_dl dt label {
	padding-top: 35px;
}
#join_id_dl input[type="text"] {
	width: 200px;
}
.b_search, .m_search{
	width : 200px;
}
.join_id_dl input[type="button"] {
	width: 80px; height: 30px;
	background-color: #6f6f6f;
	padding: 0px 10px;
	border: none;
	line-height: 5px;
	color: #fff;
	font-weight: 700;
	font-size:12px;
}
#join_id_dl span {
	display: block;
	margin-top: 5px;
}

/* 다시입력, 가입시작 버튼 */
#info_input_button {
	width: 1000px; height: 58px;
	margin: 0 auto;
	text-align:center;
}
#info_input_button input {
	width: 100px; height: 55px;
	color: rgb(85, 85, 85);
	font-weight: 700;
	font-size: 15px;
	margin-right: 10px;
	background: #fff;
	border: 1px solid rgb(221, 221, 221);
}
#info_input_button input:nth-child(2) {
	color: rgb(255, 255, 255);
	background: rgb(0, 128, 255);
}

/*footer*/








